/*PALETA DE COLORES
Ku Crimson: #e3170a
Rich Black: #050505
Dark Sienna: #32021f

*/
a,
a:visited,
a:active {
    text-decoration: none;
    text-emphasis: none;
    color: #fff;
}

ul {
    list-style-type: none;
}

body {
    
    background: #050505;
    font-family: ubuntu;
}

.navigationBar {
    display: flex;
    justify-content: right;

}

.navigationBar li {
    line-height: 0.8em;
    margin: 1%;
}

h1 {
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}

.content {
    background: #fff;
    max-width: 960px;
    margin: 30px auto;
    padding: 20px 30px;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

}

.ulPosts {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.ulPosts li {
    padding: 20px;
    background: #f5f9f9;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 4em;
}

.ulPosts li:nth-child(even) {
    padding: 20px;
    background: #f2f2f2;
}

.ulPosts li span {
    display: block;
}

.ulPosts li span:nth-child(2) {
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

.ulPosts li div {
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255, 255, 255, 0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    cursor: pointer;
}

.formWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #999;
    padding: 4% 2%;

}

.inputForm {
    border-radius: 2%;
    width: 20em;
    margin-bottom: 1%;
    border: 0;
    border-bottom: 1px solid rgb(146, 31, 31);
    margin: 0 auto;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 14px;
}

.inputContent {

    margin: 0 auto;
    margin: 2% 0;
    border-bottom: 1px solid #eee;
    width: 50em;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 12px;
}

form input:focus {
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}



button {
    border: 0;
    background: #fff;
    border-radius: 10px;
    padding: 13px;
    width: 100%;
    box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: rgb(165, 79, 79);
    cursor: pointer;
    margin: 0 auto;
    transition: all;

}


/*REGLAS PARA LOGIN*/

#createAccount{
    display: grid;
    background-color: black;
    grid-template-columns: 100px 100px 100px 100px;
}

  
  .login-box {
    width: 320px;
    height: 350px;
    background:  #d80032;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
  }
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box button[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box button[type="submit"]:hover {
    cursor: pointer;
    background: #edf2f4;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
  }
  
  .login-box a:hover {
    color: #fff;
  }
  